.page-container {
  width: 100%;
  max-width: 100%;
}

@include media-breakpoint-up(xl) {
  .page-container,
  .navbar-container {
    max-width: map-get($grid-breakpoints, 'xl');
    width: 100%;
  }
}

.gray-header {
  font-weight: bold;
  color: $gray;
  margin-bottom: 11px;
}

.card {
  border-radius: 0.5rem;
}

.arrow_right {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 5px solid white;
  display: inline-block;
  margin-right: 10px;
}

.eterna_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
  border-bottom: 1px solid #043468;
  padding: 0 0 2px 0;
  width: 850px;


  h3 {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.36;
    text-align: left;
    color: $warning;
    margin: 0;
  }

  p {
    opacity: 0.5;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.36;
    color: #ffffff;
    margin: 0;
  }
}

.content {
  border-radius: 5px;
  background-color: #043468;
  padding: 25px;

  h3, p {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.36;
  }

  h3 {
    font-weight: bold;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
  }
}

.content_box {
  max-width: 850px;
  padding: 0;
  margin-left: 16px;
}